In [34]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [36]:
data = pd.read_csv("./col1.csv",header=None)
data.columns = ['info','time','node','dropped','rts_check','from','to']
data.head()

  info      time  node dropped rts_check  from  to
0    s  2.000000     1     ---       cbr     1   4
1    r  2.000000     1     ---       cbr     1   4
2    s  2.000000     1     ---      AODV     1  -1
3    s  2.000395     1     ---      AODV     1  -1
4    r  2.000915    24     ---      AODV     1  -1

In [38]:
df = pd.read_csv("./col2.csv",header=None)

In [22]:
filter_by_col = data[data['dropped']=='COL'].groupby('node')
#col_rate = filter_by_col
time = filter_by_col['time'].max() - filter_by_col['time'].min()
collision_rate = filter_by_col.size()/time
collision_rate = pd.DataFrame(collision_rate,columns=['Collision_rate'])
collision_rate[time == 0] = 0

In [47]:
df.head()
df.columns = ["time","node","rts"]

In [48]:
time

node
0     43.764488
1     48.000000
2     36.082190
3     36.277736
4     47.985105
5     36.071885
6     36.092901
7     36.295210
8     36.081402
9     36.293165
10    36.078582
11    36.092900
12    36.079737
13    36.069349
14    36.071745
15    47.992153
16    36.281734
17    36.281734
18    36.096596
19    36.096596
20    36.283221
21    36.274059
22    36.282264
23    36.096596
24    47.999085
25    36.080552
26    36.277721
27    47.994549
28    36.080551
29    36.281734
30    36.283725
31    36.293191
32    36.077616
33    36.080551
34    47.987095
35    36.281734
36    36.281734
37    36.281734
38    36.080551
39    36.080014
41    36.090337
42    36.100610
43    36.281734
44    36.281734
45    36.064290
46    36.073255
47    36.080014
48    36.064291
49    36.281189
Name: time, dtype: float64

In [49]:
collision_rate.fillna(0)

      Collision_rate
node
0           0.513867
1           0.627993
2           0.360533
3           1.130348
4           1.247637
5           0.562581
6           0.399410
7           1.019796
8           1.280152
9           0.468700
10          0.693152
11          0.570586
12          0.000000
13          0.998289
14          0.970506
15          1.247300
16          0.914934
17          0.665599
18          1.192755
19          0.998109
20          1.488772
21          0.689264
22          0.315557
23          0.859893
24          0.359955
25          3.678124
26          0.665406
27          1.192335
28          0.428141
29          0.998335
30          1.414662
31          0.399504
32          0.347701
33          3.678124
34          0.804210
35          0.998109
36          0.665557
37          0.831758
38          0.485211
39          0.656462
41          1.386417
42          0.887208
43          0.610132
44          0.748939
45          0.485027
46          0.000000
47          0.404661
48          0.776447
49          0.887631

In [50]:
collision_rate = collision_rate.ix[0:,:]
collision_rate.to_csv('collision_rate.csv')

In [51]:
collision_rate

      Collision_rate
node
0           0.513867
1           0.627993
2           0.360533
3           1.130348
4           1.247637
5           0.562581
6           0.399410
7           1.019796
8           1.280152
9           0.468700
10          0.693152
11          0.570586
12          0.000000
13          0.998289
14          0.970506
15          1.247300
16          0.914934
17          0.665599
18          1.192755
19          0.998109
20          1.488772
21          0.689264
22          0.315557
23          0.859893
24          0.359955
25          3.678124
26          0.665406
27          1.192335
28          0.428141
29          0.998335
30          1.414662
31          0.399504
32          0.347701
33          3.678124
34          0.804210
35          0.998109
36          0.665557
37          0.831758
38          0.485211
39          0.656462
41          1.386417
42          0.887208
43          0.610132
44          0.748939
45          0.485027
46          0.000000
47          0.404661
48          0.776447
49          0.887631

In [53]:
df[df["rts"] == "RTS"]

             time  node  rts
515      2.015565    30  RTS
516      2.015838     4  RTS
526      2.017015     4  RTS
527      2.017287    30  RTS
605      2.019555    13  RTS
606      2.019827    30  RTS
693      2.022656    30  RTS
695      2.022928    13  RTS
1008     2.031264     5  RTS
1009     2.031536    13  RTS
1245     2.038846    13  RTS
1246     2.039119     5  RTS
1272     2.040736     6  RTS
1273     2.041008     5  RTS
1281     2.042385     5  RTS
1282     2.042658     6  RTS
1312     2.044614     1  RTS
1313     2.044887     6  RTS
1320     2.046344     6  RTS
1321     2.046617     1  RTS
1330     2.047778     1  RTS
1334     2.048051     6  RTS
1343     2.053117     1  RTS
1344     2.053389     6  RTS
1357     2.058715     6  RTS
1358     2.058987     5  RTS
1367     2.063972     5  RTS
1371     2.064245    13  RTS
1381     2.069370    13  RTS
1382     2.069643    30  RTS
...           ...   ...  ...
177318  49.950514     1  RTS
177319  49.950787    34  RTS
177332  49.955972    34  RTS
177333  49.956244     4  RTS
177344  49.961250    34  RTS
177345  49.961523     4  RTS
177353  49.966548    15  RTS
177354  49.966548     1  RTS
177355  49.966549    34  RTS
177356  49.966821    34  RTS
177357  49.967355    34  RTS
177358  49.967628    15  RTS
177379  49.968714    34  RTS
177380  49.968986     4  RTS
177381  49.969718    34  RTS
177382  49.969990     4  RTS
177383  49.970662    34  RTS
177384  49.970934     4  RTS
177385  49.975366    34  RTS
177386  49.975638     4  RTS
177398  49.980924    15  RTS
177399  49.981196    34  RTS
177414  49.986422    34  RTS
177415  49.986695    15  RTS
177429  49.987780    15  RTS
177430  49.988053    34  RTS
177445  49.993259    15  RTS
177446  49.993531    34  RTS
177457  49.999017     1  RTS
177458  49.999290    34  RTS

[24998 rows x 3 columns]

In [56]:
received = df[df["rts"] == 'RTS']
received = received[['time','node']]
group_node = df.groupby('node')

received_packets = group_node.size()
time = group_node['time'].max() - group_node['time'].min()
received_rate = received_packets/time
received_rate[time == 0] = 0
received_rate.fillna(0)

node
0        8.430579
1      602.500000
2        4.434321
3       10.914747
4       95.946440
5      107.396660
6       22.414380
7       25.981390
8        5.182725
9       64.116755
10       8.038010
11       7.813171
12       4.046593
13      20.111692
14       8.365465
15    1220.428678
16      13.064425
17      12.623432
18      10.498601
19       9.889183
20      29.269728
21       5.541150
22       2.893976
23       9.889183
24       4.125079
25       5.931173
26      11.796752
27       6.688260
28       5.792594
29      13.891287
30      26.651068
31       7.081218
32       5.294141
33      54.766347
34    1264.694174
35      13.643229
36      12.678556
37      12.678556
38       7.538687
39       5.986694
41      25.288917
42      12.575965
43      12.623432
44       9.949910
45       7.702251
46       1.968217
47       4.351440
48       7.702251
49      10.335935
dtype: float64

In [57]:
time

node
0     43.769235
1     48.000000
2     36.082190
3     36.281189
4     47.985105
5     36.071885
6     36.092901
7     36.295210
8     36.081402
9     36.293165
10    36.078582
11    36.092900
12    36.079737
13    36.098404
14    36.100801
15    47.992153
16    36.281734
17    36.281734
18    36.100049
19    36.100049
20    36.283221
21    36.274059
22    36.282264
23    36.100049
24    47.999085
25    36.080552
26    36.281174
27    47.994549
28    36.080551
29    36.281734
30    36.283725
31    36.293191
32    36.077616
33    36.080551
34    47.987095
35    36.281734
36    36.281734
37    36.281734
38    36.080551
39    36.080014
41    36.102772
42    36.100610
43    36.281734
44    36.281734
45    36.093346
46    36.073255
47    36.080014
48    36.093347
49    36.281189
Name: time, dtype: float64

In [58]:
received_rate = pd.DataFrame(received_rate)
received_rate = received_rate.rename(columns = {0:'Received Rate'})
received_rate = received_rate.ix[0:,:]
received_rate.to_csv('Received_Packets.csv')

In [59]:
df1 = pd.DataFrame(data)
df1['dos'] = 0
df1.loc[df1['from']==1,'dos'] = 1

In [60]:
df2 = pd.DataFrame(df1.groupby('node')['dos'].mean())
df2

           dos
node
0     0.078689
1     0.988003
2     0.000000
3     0.000000
4     0.736547
5     0.828819
6     0.414798
7     0.352014
8     0.064865
9     0.841098
10    0.060714
11    0.062963
12    0.085106
13    0.391892
14    0.027875
15    0.047842
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.244032
21    0.020408
22    0.000000
23    0.000000
24    0.076087
25    0.056872
26    0.000000
27    0.026756
28    0.063725
29    0.000000
30    0.245255
31    0.040650
32    0.076087
33    0.828598
34    0.079028
35    0.000000
36    0.000000
37    0.000000
38    0.064885
39    0.028571
41    0.324324
42    0.000000
43    0.000000
44    0.000000
45    0.015094
46    0.000000
47    0.000000
48    0.000000
49    0.000000

In [61]:
df2 = df2.ix[0:,:]

In [62]:
df2.columns = ["Probability"]
df2.to_csv('Proba.csv')